#!/bin/bash
# File  : ftp.config
# Brief : Example configuration file for 'QuickFtpServer'
# Note  :
#   This file begins with '#!/bin/bash' solely to enable syntax highlighting
#   in text editors, as it loosely follows some bash scripting syntax.
#----------------------------------------------------------------------------


# Configuration of available resources
# Each line follows the format:
#    RESOURCE= name | directory | description
# Where:
#    > name        : the name of the resource
#    > directory   : the directory where the resource is located
#    > description : a brief description of the resource
#
RESOURCE= DEFAULT   | /ftp-data  | "Default data directory, currently empty"
RESOURCE= MSX       | /ftp-msx   | "Retrocomputing files (MSX)"
RESOURCE= AliceHome | /ftp-alice | "Files belonging to user Alice"
RESOURCE= BobHome   | /ftp-bob   | "Files belonging to user Bob"


# Configuration of users
# Each line can be one of the following two formats:
#     ANON= name | password | resource
#     USER= name | password | resource
# Where:
#     > name     : the username
#     > password : the user's password
#     > resource : the name of the resource folder defined above
#
# Note: There can be only one anonymous user (ANON),
#       but any number of regular users (USER).
#
ANON= ftp   |       | MSX
USER= alice | alice | AliceHome
USER= bob   | bob   | BobHome

PASV = yes

