# File: ftp.conf

# Configuration for anonymous user with read-only permissions
## The format for each line is:
##   user:password:root_dir
##     > user     = username
##     > password = user's password; (para los usuarios anónimos la password es ignorada)
##     > root_dir = root directory of the user on the FTP server; if not specified, it will be 'ftp-data'
[anonymous]
ftp

## Uncomment the following lines to add non-anonymous virtual users
## The format for each line is:
##   user:password:home_directory
##     > user            = username
##     > password        = user's password; if not specified, it will default to the username
##     > home_directory  = root directory of the user on the FTP server; if not specified, it will be 'ftp-data'
# [users]
# alice:alice:alice-data
# bob:bob:bob-data
